@import '_content/SpawnDev.BlazorJS.VisNetwork/SpawnDev.BlazorJS.VisNetwork.uwb0amz0pn.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-lpg1ap99x1] {
    width: 100%;
    height: 100%;
    position: relative;
}
