@page "/network"

<PageTitle>Rally</PageTitle>

<div style="position: relative; width: 100%; height: 100%; padding: 0; margin: 0;">
    <SpawnDev.BlazorJS.Rally.Demo.Components.RallyNetworkView />
</div>
